body{
    text-align: center;
}

.cells-container{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
    gap: 5px;
}

.cell-button{
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}